#resultBday {
    background:black;
    width:30%; 
    text-align: center;
    color: white;
    margin: auto;
    padding: 10px;
    border-top-right-radius:10px;
    
  }
  #bday {
    width:30%;
    padding:8px;
    color:#fff;
    background-color:blue;
    border-bottom-right-radius:10px;
    height:34px;
  
    
  }